@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'),
        url('../fonts/opensans.woff2') format('woff2'),
        url('../fonts/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'),
        url('../fonts/opensanslight.woff2') format('woff2'),
        url('../fonts/opensanslight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'),
        url('../fonts/gilroylight.woff2') format('woff2'),
        url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Extra Bold'),
        url('../fonts/gilroyextrabold.woff2') format('woff2'),
        url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

.product-image {
  position: relative;
    margin-bottom: 35px;
  width:360px;
  height:380px;
}

.item-hover {
  display: none;
  position: absolute;
  background-color: rgba(238,238,238, 0.7);
  top: 0;
  left: 0;
  width:360px;
  height:204px;
  padding-top: 167px;
}

.item-hover .add-basket {
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

.item-hover .add-compare {
  font-size: 14px;
  color: #b0b0b0;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  background-color: transparent;
  display: block;
  margin: auto;
  cursor: pointer;
}

.item-hover .add-compare:hover {
  color: black;
}

.item-hover .add-compare:active {
  color: #e1e1e1;
  color: rgba(0, 0, 0, 0.2);
}

.product-image:hover > .item-hover {
  display: block;
}

.product-slogan::before {

}

.btn {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 2;
    padding: 12px 40px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 4px;
    color: #000;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn::after {
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    border-bottom: 8px solid #f0c52e;
    top: 50%;
    left:0;
    transform: translateY(-50%);
}

.btn:hover {
    background-color: #f0c52e;
}

.btn:active,
.btn.active {
    outline: none;
    border: none;
    color: #bd9b24;
    color: rgba(0, 0, 0, 0.3);
    background-color: #f0c52e;
}

body {    
    min-width: 1160px;
    margin: 0;
    padding: 0;
    padding-top: 40px;

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;

    background-color: #ffffff;
    color: #444444;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

h1, h2 {
    font-family: 'Gilroy', Arial, Helvetica, sans-serif;
    font-size: 47px;
    color: #000000;
}

.page-header {    
    font-size: 15px;
    line-height: 36px;
}

.page-header-inner {
    min-height: 300px;
    position: relative;
    background-color: #ffe27f;
}

.page-header-inner2 {
    min-height: 185px;
    position: relative;
    background-color: #ffe27f;
}

.nav-catalog {
    padding-right: 32px;
    position: relative;
}

.nav-catalog::after {
    position: absolute;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    top: 3px;
    right: 5px;
    background: transparent url("../img/plus.png") no-repeat 0 0;
}

.catalog-menu {
    position: absolute;
    background-color: #ffe393;
    left: 0;
    top: 130px;
    width: 100%;
    min-height: 130px;
    margin: 0;
    padding: 0;
    line-height: 15px;

    display: none;
}
.nav-bottom .nav-left {
    width: 260px;
}
.nav-bottom .nav-left:hover + .catalog-menu,
.nav-bottom .nav-left:active + .catalog-menu {
    display: block;
}

.catalog-menu ul {
    float: left;
    margin: 0;
    padding: 0;
    padding-left: 40px;
    width: 160px;
    list-style-type: none;
}

.catalog-menu ul:first-child {
    width: 200px;
    padding-left: 60px;
}

.catalog-menu ul li {
    margin-bottom: 20px;
}

a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.page-header a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.page-header a:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-logo {
    position: relative;
    top: -28px;
    width: 164px;
    height: 36px;
}


.header-logo a {
    color: #000000;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 48px;
    line-height: normal;
}

.header-logo a:hover {
    color: #444444;
}

.header-logo a:active {
    color: #666666;
}

.nav-top {    
    min-height: 49px;
    margin-bottom: 30px;
}

.nav-top .nav-right {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-user {
    float: left;
    padding-left: 27px;
    box-sizing: border-box;
    position: relative;
}

.log-out {
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.log-out:hover {
    color: rgba(0, 0, 0, 0.6);
}

.log-out:active {
    color: rgba(0, 0, 0, 0.1);
}

.nav-user::before {
    position: absolute;
    content: "";
    display: block;
    width: 13px;
    height: 12px;
    top: 12px;
    left: 0;
    background: transparent url("../img/user.png") no-repeat 0 0;
}

.nav-user:hover::before {
    opacity: 0.6;
}

.nav-user:active::before {
    opacity: 0.3;
}

.nav-compare {
    float: left;
    margin-left: 7px;
    max-width: 100px;
    padding-left: 20px;
    box-sizing: border-box;
    position: relative;
}

.nav-compare::before {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    top: 13px;
    left: 0;
    background: transparent url("../img/compare.png") no-repeat 0 0;
}

.nav-compare:hover::before {
    opacity: 0.6;
}

.nav-compare:active::before {
    opacity: 0.3;
}

.nav-cart {
    float: right;
    max-width: 100px;
    padding-left: 24px;
    text-align: right;
    box-sizing: border-box;
    position:relative;
}

.nav-cart::before {
    position: absolute;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    top: 12px;
    left: 6px;
    background: transparent url("../img/cart.png") no-repeat 0 0;
}

.nav-cart:hover::before {
    opacity: 0.6;
}

.nav-cart:active::before {
    opacity: 0.3;
}

.search-form {
    position: relative;
}

.search-form::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 15px;
    z-index: 1;
    width: 16px;
    height: 16px;
    background: transparent url("../img/search.png") no-repeat 0 0;
}

.search-btn {
    height: 49px;
    width: 85px;
    font: inherit;
    
    background-color: transparent;
    border: 2px solid #000000;
    cursor: pointer;
    float: right;
    visibility: hidden;
}

.search-btn:hover {
    color: rgba(255,255,255,1);
    background-color: #000000;
    visibility: visible;
}

.search-btn:active {
    color: rgba(255,255,255,0.3);
    visibility: visible;
}

.search-field {
    box-sizing: content-box;
    width: 300px;
    height: 15px;    
    padding: 18px 15px 14px 40px;
    margin: 0;
    z-index: 0;
    
    background-color: #ffe27f;
    border: none;
    position: relative;
    outline: unset;
}

.search-field:focus {    
    border-bottom: 2px solid rgba(0,0,0,1);
}

.search-field:focus + .search-btn {
    visibility: visible;
}

.nav-left {
    float: left;
    width: 440px;
}

.nav-right {
    float: right;
    width: 500px;
}

.nav-account {
    float: left;
    width: 260px;
}

.nav-shop {
    float: right;
    width: 220px;
}

.nav-bottom {
    font-size: 18px;
    line-height: normal;
    text-transform: uppercase;
    font-family: 'Gilroy', Arial, Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 0.2em;
}

.nav-service {
    float: left;
    width: 300px;
}

.nav-delivery {
    margin-right: 25px;
}

.nav-contacts {
    float: right;
    width: 140px;
    text-align: right;
}

.product {
    min-height: 480px;
}

.product-left {
    position: relative;
    float: left;
    width: 500px;
    margin-right: 40px;
}

.product-slider-image {
    position: absolute;
    top: -110px;
    left: 30px;
}

.narrower {
    padding-left: 60px;
    padding-right: 60px;
}

.product-right > input[type="radio"] {
  display: none;
}

.product-right {
    float: right;
    width: 500px;
    position: relative;
    top: -35px;
}

.product-slogan {
    margin: 0;
    padding: 0;
    font-size: 47px;
    line-height: normal;
    margin-bottom: 20px;
    color: #000000;
    position: relative;
}

.product-slogan::before {
    display: block;
    content: "";
    position: absolute;
    width: 100px;
    height: 7px;
    left: 0;
    top: -40px;
    background-image: url("../img/line.png");
}

.product-slogan::after {
    display: block;
    content: "";
    position: absolute;
    width: 166px;
    height: 131px;
    left: 330px;
    top: -80px;
    background-image: url("../img/01.png");
}

.product-slider {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 250px;
    left: 400px;
    font-size: 0;
}

.product-slider li {
    display: inline-block;
    margin-right: 23px;
}

.product-slider li:last-child {
    margin-right: 0;
}

.product-description {
    margin-bottom: 40px;
}

.product-description a {
    display: block;
    margin-bottom: 65px;
}

.category-image {
    margin-bottom: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.category-image-1 {
    background-image: url("../img/popular-1.png");
}

.category-image-2 {
    background-image: url("../img/popular-2.png");
    background-position: 50% 100%;
}

.category-image-3 {
    background-image: url("../img/popular-3.png");
}

.category-image-4 {
    background-image: url("../img/popular-4.png");
}

.category-image-5 {
    background-image: url("../img/popular-5.png");
}

.category-image-6 {
    background-image: url("../img/popular-6.png");
}

.product-features {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.product-details {
    margin-bottom: 45px;
}

.product-features li {
    display: inline-block;
    margin-right: 80px;
}

.product-features li:last-child {
    margin-right: 0;
}

.product-feature .value{
    font-size: 36px;
    line-height: normal;
    font-family: "Gilroy", "Arial", sans-serif;
    display: block;
    margin-bottom: 10px;
}

.product-feature .name{
    font-size: 13px;
    line-height: 20px;
    display: block;
}

.product-categories {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.product-categories li {
    display: inline-block;
    vertical-align: top;
    max-width: 160px;
    margin-right: 40px;
}

.product-categories li:nth-child(6n) {
    margin-right: 0;
}

.category-image {
    background-color: #ffe27f;
    width: 160px;
    height: 160px;
}

.product-categories a:hover .category-image{
    background-color: #ffc600;
}

.product-categories a:active .category-title{
    opacity: 0.3;
}

.product-categories a:active .category-image-1{
    background-image: url("../img/popular-1-hover.png");
}

.product-categories a:active .category-image-2{
    background-image: url("../img/popular-2-hover.png");
}

.product-categories a:active .category-image-3{
    background-image: url("../img/popular-3-hover.png");
}

.product-categories a:active .category-image-4{
    background-image: url("../img/popular-4-hover.png");
}

.product-categories a:active .category-image-5{
    background-image: url("../img/popular-5-hover.png");
}

.product-categories a:active .category-image-6{
    background-image: url("../img/popular-6-hover.png");
}

.index-jumbotron {
    min-height: 480px;
}

.category-title {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
}

.index-product-categories {
    margin-bottom: 155px;
}

.services {
    min-height: 290px;
    background-color: #e6e6e6;
    position: relative;
}

.services-master {
    float: left;
    width: 280px;
    list-style-type: none;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 70px;
    margin: 0;
    border-right: 7px solid #000000;
    min-height: 170px;
    position: absolute;
    top: -100px;
}

.services-master .service {
    margin-bottom: 25px;
}

.services-master .btn {
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 14px;
    width: 160px;
    height: 40px;
}

.services-master .service.active,
.services-master .service.active .btn{
    background-color: #000000;
    color: #ffe27f;
}

.services-master .service.active .btn::after {
    display: none;
}

.services-master input[type="radio"]{
    display: none;
}

.services-detail {
    float: left;
    width: 460px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 400px;
    position: absolute;
    top: -70px;
}

.services-detail .service {
    display: none;
    position: relative;
}

.services-detail .service::after {
    display: "block";
    content: "";
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 0;
}

.services-detail .service.delivery::after {
    background-image: url("../img/delivery.png");
    width: 136px;
    height: 164px;
    left: 560px;
}

.services-detail .service.warranty::after {
    background-image: url("../img/warranty.png");
    width: 171px;
    height: 195px;
}

.services-detail .service.credit::after {
    background-image: url("../img/credit.png");
    width: 156px;
    height: 188px;
}

.services-detail .service.active {
    display: block;
}

.service-title {
    color: #000000;
    font-size: 47px;
    line-height: normal;
    font-family: "Gilroy", "Arial", sans-serif;
    margin-bottom: 35px;
}

.service-description {
    font-size: 15px;
    line-height: 30px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    width: 460px;
}

.index-about-us {
    padding-top: 95px;
    padding-bottom: 90px;
}

.logotypes {
    margin: 0;
    padding: 0;
    margin-bottom: 145px;
    font-size: 0;
}

.logotypes li {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
}

.logotypes li:last-child {
    margin-right: 0;
}

.logotypes .logo {
    display: block;
    width: 260px;
    height: 100px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.logotypes .logo-1 {
    background-image: url("../img/logo-1.jpg");
}

.logotypes .logo-1:hover {
    background-image: url("../img/logo-1-hover.jpg");
}

.logotypes .logo-2 {
    background-image: url("../img/logo-2.jpg");
}

.logotypes .logo-2:hover {
    background-image: url("../img/logo-2-hover.jpg");
}

.logotypes .logo-3 {
    background-image: url("../img/logo-3.jpg");
}

.logotypes .logo-3:hover {
    background-image: url("../img/logo-3-hover.jpg");
}

.logotypes .logo-4 {
    background-image: url("../img/logo-4.jpg");
}

.logotypes .logo-4:hover {
    background-image: url("../img/logo-4-hover.jpg");
}

.index-about-us-left {
    float: left;
    width: 460px;
}

.index-about-us-right {
    float: right;
    width: 560px;
}

.about-us-title {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 45px;
    color: #000000;
    position: relative;
}

.about-us-title::before {
    display: block;
    content: "";
    width: 80px;
    height: 7px;
    top: -50px;
    left: 0;
    background-image: url("../img/about-us-line.png");
    position: absolute;
}

.about-us-text {
    margin-top: 0;
    margin-bottom: 45px;
}

.shipping-company-list {
    margin: 0;
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 0;
    list-style-image: url("../img/bullet.png");
}

.shipping-company-list li {
    margin-left: 20px;
    padding-left: 25px;
}

.index-about-us .map {
    margin-bottom: 80px;
}

.catalog-left {
    float: left;
    width: 330px;
    box-sizing: border-box;
}

.catalog-right {
    float: right;
    width: 830px;
    padding-left: 70px;
    box-sizing: border-box;
}

.catalog-sort-options {
    list-style-type: none;
    margin: 0;
    margin-left: 40px;
    padding: 0;
    font-size: 0;
    display: inline-block;
    vertical-align: top;
}

.catalog-sort-options li {
    display: inline-block;
    margin-right: 30px;
}

.color-options,
.bluetooth-options {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.catalog-sort-options li:last-child {
    margin-right: 0;
}

.catalog-sort-options a {
    font-size: 14px;
    line-height: 70px;
    opacity: 0.3;
}

.catalog-sort-options a:hover {
    opacity: 0.6;
}

.catalog-sort-options a:active,
.catalog-sort-options .active a {
    opacity: 1;
}

.catalog-header,
.catalog-header .catalog-left,
.catalog-header .catalog-right {
    min-height: 70px;
}

.catalog-header-title {    
    font-weight: 800;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 70px;
    width: 160px;
}

.catalog-sort-title {
    width: 160px;
    margin-right: 40px;
    display: inline-block;
    vertical-align: top;
}

.catalog-sort-order {
    float: right;
    width: 60px;
    font-size: 0;
    line-height: 70px;
    position: relative;
}

.sort {
    display: inline-block;
    width: 17px;
    height: 9px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
    position: absolute;
}

.sort:hover {
    opacity: 0.6;
}

.sort:active,
.sort.active {
    opacity: 1;
}

.sort-asc {
    background-image: url("../img/sort-up.png");
    left: 0;
    top: 30px;
}

.sort-desc {
    background-image: url("../img/sort-down.png");
    right: 0;
    top: 30px;
}

.catalog-header .catalog-left {
    background-color: #dddddd;
}

.catalog-body .catalog-left {
    background-color: #f0f0f0;
}

.catalog-header .catalog-right {
    background-color: #ebebeb;
}

.range-controls {
  position: relative;
  height: 40px;
  padding-top: 12px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 120px;
  height: 2px;
  background: #7eae29;
}

.range-controls .toggle {
  position: absolute;
  top: 6px;
  left: -1px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 50%;
  background: #eee;
}

.range-controls .toggle-max {
  left: 111px;
}

.toggle-max, .toggle-min {
  position: relative;
}

.toggle:active {
  border-color: white;
  background-color: #7eae29;
  box-shadow: 0 5px 5px -3px black;
}

.toggle span {
    position: absolute;
    top: 15px;
    width: 60px;
    font-size: 14px;
    line-height: 22px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 400;
    color: #cecece;
    color: rgba(0, 0, 0, 0.2);
}

.catalog-body .catalog-left,
.catalog-body .catalog-right{
    padding-top: 70px;
}

.filter-form-group {
    border-top: 2px solid black;
    padding-top: 15px;
    padding-bottom: 40px;
}

.filter-option {
    margin: 0;
    padding: 0;    
    font-size: 18px;
    line-height: normal;
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 800;
    margin-bottom: 35px;
}

.toggle-max span {
  right: 50%;
  transform: translateX(50%);
}

.filter-form-group label {
  margin-bottom: 10px;
}

.color-options input[type="checkbox"],
.bluetooth-options input[type="radio"] {
  display: none;
}

.color-options label,
.bluetooth-options label {
  display: block;
}

 .color-checkbox {
   position: relative;
   padding-left: 40px;
   cursor: pointer;
 }

 .bluetooth-checkbox {
   position: relative;
   padding-left: 40px;
   cursor: pointer;
 }

.color-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 4px;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #dbdbdb;
}

.color-checkbox input[type="checkbox"]:hover + .checkbox-indicator:hover {
  background-color: #cecece;
}

.color-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  background-color: #c4c4c4;
}

.color-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.color-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #000;
}

.color-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  top: 13px;
  left: 5px;
  width: 6px;
  transform: rotate(52deg);
}

.color-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  top: 12px;
  left: 8px;
  width: 10px;
  transform: rotate(-39deg);
}

.bluetooth-checkbox input[type="radio"] + .checkbox-indicator {
  position: absolute;
  top: 3px;
  left: 0;
  width: 19px;
  height: 19px;
  border: 2px solid #c6c6c6;
  border-radius: 50%;
}

.bluetooth-checkbox input[type="radio"]:hover + .checkbox-indicator:hover {
  border-color:#bebebe;
}

.bluetooth-checkbox input[type="radio"]:checked + .checkbox-indicator {
  border-color:#c7c7c7;
}

.bluetooth-checkbox input[type="radio"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border: 2px solid #000;
  border-radius: 50%;
}

.product-list {
    font-size: 0;
}

.product-item{
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
}

.product-item:nth-child(2n){
    margin-right: 0;
}

.product-item-title {
    margin: 0;
    padding: 0;
    float: left;
    width: 260px;
    height: 70px;
    margin-bottom: 20px;
    
    font-weight: 800;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: normal;
}

.product-item-price {
    float: right;
    width: 80px;
    
    font-weight: 300;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    line-height: normal;
}

.paginator {
    background-color: #ebebeb;
    color: #000000;
    
    font-weight: 800;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 75px;
}

.paginator .prev{
    float: left; 
}

.paginator .next{
    float: right;
}

.paginator .list {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    width: 440px;
    text-align: center;
    font-size: 0;
    padding-top: 20px;
}

.paginator li {
    display: inline-block;
    font-size: 16px;
    /*opacity: 0.3;*/
    margin-right: 30px;
}

.paginator .list a {
    opacity: 0.3;
}

.paginator .list a:hover {
    opacity: 0.6;
}

.paginator .list a:active,
.paginator .list .active a {
    opacity: 1;
}

.paginator a.prev,
.paginator a.next{
    display: inline-block;
    padding: 20px 36px;    
}

.paginator a.prev:hover,
.paginator a.next:hover{   
    background-color: #d9d9d9;
}

.paginator a.prev:active,
.paginator a.next:active{   
    color: rgba(0, 0, 0, 0.3);
}

.page-footer {
    padding-bottom: 65px;
    background-color: #444444;
    color: #ffffff;
}

.page-footer a {
    color: #ffffff;    
}

.footer-left {
    padding-top: 60px;
    float: left;
    max-width: 220px;
    margin-right: 160px;
}

.footer-logo {    
    margin-bottom: 15px;
    position: relative;
}
.footer-logo::after {
    position: absolute;
    display: block;
    content: "";
    width: 80px;
    height: 7px;
    bottom: -140px;
    left: 0;
    background-image: url("../img/device-yellow-line.png");
}

.footer-logo a {
    color: #ffe27f;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 48px;
    line-height: normal;
}

.footer-logo a:hover {
    color: #ffc600;
}

.footer-logo a:active {
    opacity: 0.3;
}

.footer-center {
    padding-top: 140px;
    float: left;
    max-width: 440px;
}

.footer-right {
    padding-top: 55px;
    float: right;
    max-width: 360px;
}

.footer-address {
    font-style: normal;
}

.footer-nav {
    margin-bottom: 65px;
}

.footer-nav-list,
.social-list,
.child-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: center;
}

.footer-nav-list li,
.social-list li,
.child-nav li {
    display: inline-block;
    vertical-align: top;
}

.footer-nav-list li {    
    font-size: 18px;
    line-height: normal;
    text-transform: uppercase;
    font-family: 'Gilroy', Arial, Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 0.2em;
    margin-right: 35px;
}

.footer-nav-list a:hover {
    opacity: 0.6;
}

.footer-nav-list a:active {
    opacity: 0.3;
}

.social-btn {
    display: block;
    width: 39px;
    height: 39px;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-right: 10px;
    opacity: 0.3;
}

.social-btn-fb {
    background-image: url("../img/facebook.png");
}

.social-btn-in {
    background-image: url("../img/insta.png");
}

.social-btn-tw {
    background-image: url("../img/twitter.png");
}

.social-btn:hover {
    opacity: 0.6;
}

.social-btn:active {
    opacity: 0.1;
}

.footer-nav-list li:last-child {
    margin-right: 0;
}

.footer-right {    
    text-align: right;
}

.child-nav {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-align: right;
    margin-bottom: 45px;
}

.child-nav li {
    margin-right: 45px;
}

.child-nav li:last-child {
    margin-right: 0;
}

.child-nav a {
    padding-left: 25px;
    position: relative;
    color: rgba(255,255,255,0.7);
}

.child-nav a:hover {
    color: rgba(255,255,255,1);
}

.child-nav a:active {
    color: rgba(255,255,255,0.3);
}

.child-nav a::before {
    position: absolute;
    content: "";
    display: block;
    width: 13px;
    height: 12px;
    top: 5px;
    left: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-tel {
    margin-bottom: 70px;
    display: block;
}

.html-academy-logo {
    display: inline-block;
    width: 27px;
    height: 34px;        
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../img/htmlacademy.png");
}

.html-academy-logo:hover {
    background-image: url("../img/htmlacademy-hover.png");
}

.html-academy-logo:active {
    opacity: 0.3;
}

.child-nav .account::before{
    background-image: url("../img/user-yellow.png");
}

.child-nav .account:hover::before{
    background-image: url("../img/user-yellow-hover.png");
}

.child-nav .account:active::before{
    opacity: 0.3;
}

.child-nav .compare::before{
    background-image: url("../img/compare-yellow.png");
}

.child-nav .compare:hover::before{
    background-image: url("../img/compare-yellow-hover.png");
}

.child-nav .compare:active::before{
    opacity: 0.3;
}

.child-nav .cart::before{
    background-image: url("../img/cart-yellow.png");
}

.child-nav .cart:hover::before{
    background-image: url("../img/cart-yellow-hover.png");
}

.child-nav .cart:active::before{
    opacity: 0.3;
}

.breadcrumbs-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    margin-bottom: 50px;
}

.breadcrumbs-nav li {
    display: inline-block;
    font-size: 14px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.3);
    margin-right: 40px;
    position: relative;
}

.catalog-left-1{
    float: left;
}

.catalog-left-2 {
    float: right;
    width: 328px;
}

.breadcrumbs-nav li::after {
    position: absolute;
    content: "";
    display: block;
    width: 4px;
    height: 7px;
    top: 14px;
    right: -20px;
    background: transparent url("../img/nav-arrow.png") no-repeat 0 0;
}

.breadcrumbs-nav li:last-child {
    margin-right: 0;
}

.breadcrumbs-nav li:last-child::after {
    display: none;
}

.breadcrumbs-nav a {
    opacity: 0.3;
}

.breadcrumbs-nav a:hover {
    opacity: 0.6;
}

.breadcrumbs-nav a:active {
    opacity: 0.1;
}

.search-field::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-field:-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-field::-moz-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-field:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-field::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-field:placeholder-shown { 
    color: rgba(0, 0, 0, 0.3);
}

.search-field:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-field:hover:-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-field:hover::-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-field:hover:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-field:hover::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-field:hover:placeholder-shown {
    color: rgba(0, 0, 0, 0.6);
}

.search-field:focus::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-field:focus:-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-field:focus::-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-field:focus:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-field:focus::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.search-field:focus:placeholder-shown {
    color: rgba(0, 0, 0, 0.6);
}